---
layout: base
---
<div class="m-intro-grid">
    <div class="m-center-container">
        <div class="m-intro-inf">
            <h1>BLOG</h1>
            <h4>Journey of Knowledge and Improvement</h4>
        </div>
    </div>
</div>

<div class="m-card-grid">

    {% for post in site.posts %}
    <div class="m-card">
        <div class="m-card-body">
            <a href="{{ post.url }}" class="m-card-title">{{ post.title }}</a>
            <p class="m-card-date">Created on {{ post.date }}</p>
        </div>
        <div class="m-card-footer">
            <div class="tags">
                {% for tag in post.tags %}
                <a href="">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>