---
layout: base
---
<div class="m-intro-grid">
    <div class="m-center-container">
        <div class="m-intro-inf">
            <h1>HELLO, I'M JOSEPH.</h1>
            <h4>A CS Graduate w/ a main focus on Software Engineering</h4>
        </div>
    </div>
</div>
<div class="m-grid">
    <div class="m-header-container">
        <div class="m-section-detail">
            <h4>Blog</h4>
            <h2>Latest Posts</h2>
            <p>Anything from projects I am currently working on or my journey of learning new technologies.</p>
        </div>
    </div>
    <div class="m-body-container">
        <div class="m-card-list-v">
            <div class="m-card">
                <div class="m-card-body">
                    <a href="" class="m-card-title">New "Action Roguelike" C++ Project on Github</a>
                    <p class="m-card-date">Created on Jan 22, 2021</p>
                </div>
                <div class="m-card-footer">
                    <div class="tags">
                        <a href="">Kotlin</a>
                        <a href="">Design</a>
                    </div>
                </div>
            </div>

            <div class="m-card">
                <div class="m-card-body">
                    <a href="" class="m-card-title">OOP refresher</a>
                    <p class="m-card-date">Created on Jan 22, 2021</p>
                </div>
                <div class="m-card-footer">
                    <div class="tags">
                        <a href="">Kotlin</a>
                        <a href="">Design</a>
                    </div>
                </div>
            </div>

            <div class="m-card">
                <div class="m-card-body">
                    <a href="" class="m-card-title">Vision Computing and Python</a>
                    <p class="m-card-date">Created on Jan 22, 2021</p>
                </div>
                <div class="m-card-footer">
                    <div class="tags">
                        <a href="">Kotlin</a>
                        <a href="">Design</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-footer-container">
        <div class="m-button-container">
            <a href="{{ site.url }}/blog" class="m-button" style="text-decoration: none;">Show More</a>
        </div>
    </div>
</div>

<div class="m-grid m-reverse-l">
    <div class="m-header-container">
        <div class="m-section-detail">
            <h4>Portfolio</h4>
            <h2>Latest Projects</h2>
            <p>Web, Mobile, Game dev and many other projects I have worked on in the past.</p>
        </div>
    </div>
    <div class="m-body-container">
        <div class="m-card-list-v m-list-reverse">
            <div class="m-card">
                <div class="m-card-header">
                    <img src="src/img/img2.jpg" alt="">
                </div>
                <div class="m-card-body">
                    <a href="" class="m-card-title">Realtime Note Keeper</a>
                    <p class="m-card-date">Created on Jan 22, 2021</p>
                </div>
                <div class="m-card-footer">
                    <div class="tags">
                        <a href="">Kotlin</a>
                        <a href="">Design</a>
                    </div>
                </div>
            </div>
            <div class="m-card">
                <div class="m-card-header">
                    <img src="src/img/img2.jpg" alt="">
                </div>
                <div class="m-card-body">
                    <a href="" class="m-card-title">Realtime Note Keeper</a>
                    <p class="m-card-date">Created on Jan 22, 2021</p>
                </div>
                <div class="m-card-footer">
                    <div class="tags">
                        <a href="">Kotlin</a>
                        <a href="">Design</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-footer-container">
        <div class="m-button-container">
            <a href="{{ site.url }}/portfolio" class="m-button" style="text-decoration: none;">Show More</a>
        </div>
    </div>
</div>

<div class="m-grid m-footer">
    <div class="m-header-container">
        <div class="m-section-detail">
            <h4>Contact</h4>
            <h2>Get in Touch</h2>
            <p>Feel welcome to contact me by submitting the form or send me an email at mateausc@gmail.com</p>
        </div>
    </div>
    <div class="m-body-container">
        <div class="m-form-container">
            <form id="contact-form" action="https://formspree.io/f/mnqoylwv" method="POST">
                <label for="name">What's your name?</label>
                <input type="text" name="name">
                <label for="email">and your email?</label>
                <input type="email" name="_replyto">
                <label for="text">What's on your mind?</label>
                <textarea name="subject" cols="30" rows="10"></textarea>
            </form>
        </div>
    </div>
    <div class="m-footer-container">
        <div class="m-button-container">
            <div id="contact-button" class="m-button">Submit Form</div>
            <p id="my-form-status"></p>
        </div>
    </div>
</div>