---
layout: base
---
<div class="m-intro-grid m-ptb-17">
    <div class="m-intro-inf">
        <h1>HELLO, I'M JOSEPH.</h1>
        <h4>A CS Graduate w/ a main focus on Software Engineering</h4>
    </div>
</div>
<div class="m-grid m-pb-9">
    <div class="m-header-container">
        <div class="m-section-detail">
            <h4>Blog</h4>
            <h2>Latest Posts</h2>
            <p>Anything from projects I am currently working on or my journey of learning new technologies.</p>
        </div>
    </div>
    <div class="m-body-container">
        <div class="m-card-list-v">

            {% for post in site.posts limit:3 %}
            <div class="m-card">
                <div class="m-card-body">
                    <a href="{{ post.url }}" class="m-card-title">{{ post.title }}</a>
                    <p class="m-card-date">Created on {{ post.date | date: "%b %-d, %Y"}}</p>
                </div>
                <div class="m-card-footer">
                    <div class="tags">
                        {% for tag in post.tags %}
                        <a href="">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="m-footer-container">
        <div class="m-button-container">
            <div class="m-button">Show More</div>
        </div>
    </div>
</div>

<div class="m-grid m-reverse-l m-ptb-9">
    <div class="m-header-container">
        <div class="m-section-detail">
            <h4>Portfolio</h4>
            <h2>Latest Projects</h2>
            <p>Web, Mobile, Game dev and many other projects I have worked on in the past.</p>
        </div>
    </div>
    <div class="m-body-container">
        <div class="m-card-list-v m-list-reverse">

            {% for project in site.projects limit:2 %}
            <div class="m-card">
                <div class="m-card-header">
                    <img width="500" height="250" src="/assets/images/thumbnail/{{ project.image }}" alt="">
                </div>
                <div class="m-card-body">
                    <a href="{{ project.url }}" class="m-card-title">{{ project.title }}</a>
                    <p class="m-card-date">Created on {{ project.date | date: "%b %-d, %Y" }}</p>
                </div>
                <div class="m-card-footer">
                    <div class="tags">
                        {% for tag in project.tags %}
                        <a href="">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div class="m-footer-container">
        <div class="m-button-container">
            <div class="m-button">Show More</div>
        </div>
    </div>
</div>

<div class="m-grid m-ptb-9">
    <div class="m-header-container">
        <div class="m-section-detail">
            <h4>Contact</h4>
            <h2>Get in Touch</h2>
            <p>Feel welcome to contact me by submitting the form or send me an email at mateausc@gmail.com</p>
        </div>
    </div>
    <div class="m-body-container">
        <div class="m-form-container">
            <form id="contact-form" action="https://formspree.io/f/mnqoylwv" method="POST">
                <label for="name">What's your name?</label>
                <input type="text" name="name">
                <label for="email">and your email?</label>
                <input type="email" name="email">
                <label for="text">What's in your mind?</label>
                <textarea name="subject" cols="30" rows="10"></textarea>
            </form>
        </div>
    </div>
    <div class="m-footer-container">
        <div class="m-button-container">
            <div id="contact-button" class="m-button">Submit Form</div>
        </div>
    </div>
</div>