---
layout: base
---
<div class="m-intro-grid m-ptb-17">
    <div class="m-intro-inf">
        <h1>PORTFOLIO</h1>
        <h4>Exploration, Curiosity and Pet Projects</h4>
    </div>
</div>

<div class="m-card-grid m-pb-8">
    {% for project in site.projects %}
    <div class="m-card">
        <div class="m-card-header">
            <img width="500" height="250" src="/assets/images/thumbnail/{{ project.image }}" alt="">
        </div>
        <div class="m-card-body">
            <a href="{{ project.url }}" class="m-card-title">{{ project.title }}</a>
            <p class="m-card-date">Created on {{ project.date | date: "%b %-d,  %Y" }}</p>
        </div>
        <div class="m-card-footer">
            <div class="tags">
                {% for tag in project.tags %}
                <a href="">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>