---
layout: base
custom_css: [jc_post.min]
---
{% assign rcontent = content | strip_newlines %}

<div class="m-post-container">
    <div class="m-post-header m-mb-4">
        <h1 class="m-post-title">{{ page.title }}</h1>


        {% if page.update %}
        <p class="m-post-date m-mt-2 m-m">Created on {{ page.date | date: "%b %-d, %Y" }} 
            (Updated on {{ page.update | date: "%b %-d, %Y" }})</p>
        {% else %}
        <p class="m-post-date m-mt-2 m-m">Created on {{ page.date | date: "%b %-d, %Y" }}</p>
        {% endif %}

        <div class="tags m-mt-1">
            {% for tag in page.tags %}
            <a href="">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>

    {% if rcontent != "" %}
    <div class="m-post-content">
        {{ content }}
    </div>
    {% endif %}
</div>